* {
  box-sizing: border-box; /* bxbb , all html elements */
  text-align: center;
}

::content {
  background-color: antiquewhite;
}
p.groove {
  border-style: groove;
}
fa-ul {
  background-color: lightgrey;
  color: blue;
}
li {
  font-weight: bold;
  text-align: center;
}
 body {
  background-color: #eaeaea; /* bgc#90c7e3 */
  color: #555; /*c#555 */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* ffa */
}
#wrapper {
  background-color: #90c7e3; /* bcg#fff */
  background-image: linear-gradient(to bottom, #fff, #90c7e3);
  /*w80% */
}
header {
  background-color: #000320; /*bgc#00BCD6 */

  background-image: url(images/sunset.jpg); /*bgi */
  background-position: right; /*bgdp */
  background-repeat: no-repeat; /* bgr */
  background-size: contain;
  color: #fff; /*c#fff */
  padding: 0.5em;
  /* height: 120px; h60 */
  /* padding-top: 30px; pt15 */
  text-align: center; /*tac */
}
header a {
  text-decoration: none; /*tdn */
}
header a:link,
header a:visited {
  color: #fff;
}
header a:hover {
  color: #90c7e3;
}
nav {
  /* fl */
  /* font-size: 120%; fz120% */
  font-weight: bold; /*fwb */
  padding: 0; /*p1m */
  text-align: center; /*tac */
  /*w160 */
}
nav li {
  border-bottom: 1px solid #002171; /*bdb1-solid-#002171 */
}

nav ul {
  font-size: 1.2em; /*fz1.2em */
  list-style-type: none; /* listn */
  margin: 0; /* m0 */
  padding-left: 0; /* pl0 */
}

nav a {
  text-decoration: none; /* txd */
  transition: color 3s ease-out;
}
nav a:link {
  color: #5c7fa3; /*c#5c7fa3 */
}
nav a:visited {
  color: #344873; /* c#344873 */
}
nav a:hover {
  color: #a52a2a; /* c#a52a2a Notice order that nav links are in, must be in this order*/
}

main {
  background-color: #fff; /*bgc#fff */
  /* ml190 */
  padding: 1px 20px 20px 30px; /* p1-20-20 */
  display: block; /*db */
  overflow: auto; /* ova */
}

h1 {
  /* font-size: 3em; fz3em */
  letter-spacing: 0.25em; /* lts.25em */
  margin-bottom: 0; /*mb0 */
  margin-top: 0.5em; /*mt0 */
}
h1,
h2,
h3,
footer {
  font-family: Georgia, "Times New Roman", serif;
}
h2 {
  color: #1976d2; /*c#1976d2 */
  text-shadow: 1px 1px #ccc;
}
h3 {
  color: #003; /* c#003 */
}
dt {
  color: #002171; /*c#002171 */
}
footer {
  background-color: #fff; /*bgc#fff */
  font-size: 75%; /*fz75% */
  font-style: italic; /* fsi */
  /*ml190 */
  padding: 2em;
  text-align: center; /* txa */
}
.resort {
  color: #191919; /*c#191919 */
  font-weight: bold; /*fwb */
}

#abouthero {
  background-image: url(images/motelview.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%; /* bgz100%100% */
  height: 400px;
}
.btn-group button {
  background-color: #73a7db; /* Green background */
  border: 1px solid #1976d2; /* Green border */
  display: flex;
  width: 200px;
  text-align: center;
  border-radius: 12px;
  font-size: 20px;
  box-sizing: border-box;
  color: white; /* White text */
  padding: 10px 24px;
  justify-content: center;
  display: block; /* Make the buttons appear below each other */
  outline-offset: 3px;
  margin: auto;
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #1976d2;
  opacity: 1;
}


table {
  border-bottom: 2px solid #1976d2;
  border-collapse: separate;
}
/*give thead the blue background w white  lettering */
th {
  background-color: #1976d2;
  color: #fff;
}
td,
th {
  padding: 0.5em;
  /* border: 2px solid#39c; */
}
td {
  text-align: center; /*tac */
}
.text {
  text-align: left; /*ta:l */
}
tr:nth-last-of-type(odd) {
  background-color: #ffcd6f;
}
form {
  display: flex;
  flex-flow: column nowrap;
}
input,
textarea {
  margin-bottom: 0.5em; /* mb.5em */
}
video {
  float: right;
  margin: 1em;
}
#gallery {
  display: grid;
  gap: 2em;
}
#gallery img {
  box-shadow: 10px 10px 10px #777;
  text-align: center;
  width: 100%;
}
#demo {
  display: flex;
  flex-direction: row;
}
 nav {
  flex: 1;
}
main {
  flex: 7;
} 
aside {
  flex: 2;
}

hr.new1 {
  width:50%; 
  text-align: center; 
  color: #7194D8 ; 
  background-color: #9799B9;
}

@media (max-width: 600px) {
  header {
    background-image: none;
  }
  #homehero,
  #yurthero,
  #trailhero,
  #abouthero {
    background-size: auto;
  }
  #demo {
    flex-direction: column;
  }

  /* table styles for smartphone devices */
  #special table {
    display: block;
    border-bottom: none;
  }
  #special td,
  #special th {
    display: block;
  }
  /* hide table header elements */
  #special thead {
    display: none;
  }

  /* use :: before pseudo element to inject labels before each row of cell content. */
  td.package::before {
    content: "Package:";
  }
  td.description::before {
    content: "Description:";
  }
  td.nights::before {
    content: "Nights:";
  }
  td.cost::before {
    content: "Cost:";
  }

  td.package,
  td.description,
  td.nights,
  td.cost {
    padding-left: 35%; /*p135% */
    position: relative; /*pos:r */
    text-align: left; /*ta:l */
    font-size: 4vw; /* vw = relative to 1% of the height of viewport. viewport = browser window size. */
  }
  td::before {
    position: absolute;
    top: 10px;
    left: 0.5em;
    font-weight: bold;
    color: #1976d2;
  }
  td:last-of-type {
    border-bottom: 2px solid #1976d2;
  }
}

@media (min-width: 600px) {
  nav ul {
    display: flex; /*df */
    flex-direction: row; /* fdr */
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  nav li {
    border-bottom: none; /*bbn */
  }
  .flow {
    display: flex; /* df */
    flex-direction: row; /*fdr */
  }
  section {
    flex: 1; /* flex1 */
    margin-right: 1em;
  }
  form {
    display: grid;
    grid-template-columns: 6em 1fr;
    gap: 1em;
    max-width: 30em;
    width: 60%;
  }
  input[type="submit"] {
    grid-column: 2 / 3;
    width: 9em;
  }
  #gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 730px) {
  video {
    display: block;
    float: none;
    clear: both;
    max-width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  #wrapper {
    margin: auto;
    width: 80%;
    border: 1px solid #002171;
    box-shadow: 3px 3px 3px #002171;
  }
  nav {
    text-align: left; /*ta:l */
    padding-left: 1em; /*pl1em */
  }
  @supports (display: grid) {
    nav ul {
      flex-direction: column;
      padding-top: 1em;
    }
    .hero {
      grid-area: hero;
    }
    header {
      grid-area: header;
    }
    nav {
      grid-area: nav;
    }
    main {
      grid-area: main;
    }
    #gallery {
      grid-area: gallery;
    }

    footer {
      grid-area: footer;
    }
    #wrapper {
      display: grid;
      grid-template:
        "header header"
        "nav hero"
        "nav main"
        "nav footer"
        / 180px 1fr;
    }
    #gallery {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
